@model Asp.NetCore5._0_Traversal_Reservation_Project.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h1>Profil Düzenleme Sayfası</h1>

<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mail Adresiniz")
    <input type="text" asp-for="mail" class="form-control" />
    <br />
    @Html.Label("Şifre")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifre Tekrar")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    @Html.Label("Telefon Numaranız")
    <input type="text" asp-for="phonenumber" class="form-control" />
    <br />
    <div class="form-group">
        <label>Resim Seçin</label>
        <input  type="file" asp-for="Image"/>
    </div>
    <br />
    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>


@*<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Aktif Rotalarımız</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Resim</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ad Soyad</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Şifre</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Şifre Tekrar</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Telefon Numarası</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>



                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="~/soft-ui-dashboard/assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm"></h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0"></p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">
                                        <text> &nbsp; &nbsp; &nbsp;</text>

                                    </p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0"> ₺</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success"></span>
                                </td>

                                <td class="align-middle">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        &nbsp;  Düzenle
                                    </a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@

