@model List<ApiMovieViewModel> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api İle IDMB Top 100 Film Listesi</h1>
<br />
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Film adı</th>
        <th>IMDB Puanı</th>
        <th>Yapım Yılı</th>
        <th>Fragman</th>
        <th>Görsel</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.rank</td>
            <td>@item.title</td>
            <td>@item.rating</td>
            <td>@item.year</td>
            <td><a href="#" class="btn btn-outline-dark">Fragmanı İzle</a></td>
            <td><img src="@item.image" style="width:100px;height:150px" class="rounded" /></td>
        </tr>
    }
</table>
