@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "ReservationUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int Count = 0;
}

<h1>Kullanıcının Geçmiş Rezervasyonları</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Misafir Ad Soyad</th>
        <th>Rota</th>
        <th>Kişi Sayısı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    @{ Count = Count + 1;}

    <td>@Count</td>
    @*<td>@item.AppUser.Name @item.AppUser.Surname</td>*@
    <td>@item.Destination.City</td>
    <td>@item.PersonCount</td>
    <td>@item.ReservationDate.ToShortDateString()</td>
    <td><a href="#" class="btn btn-primary">Detaylar</a></td>
</tr>
    }

</table>

